/* header.scss */

.header {

    position: fixed;
    z-index: 100;
    width: 100%;

    ul {
        li {
            display: inline-block;
            width: 100px;
            text-align: center;
            border: 1px solid $secondary-color;
            padding: 8px;
            @include border-radius(10px 10px 0px 0px);
        }
    }
    a {
        text-transform: uppercase;
        text-decoration: dotted;
    }
}