
$font-stack: Arial, Helvetica, sans-serif;
$primary-color: #800;
$secondary-color: #C60;
$bgcolor: #fdd;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $bgcolor;
}

.header {
    ul {
        li {
            display: inline-block;
            border: 1px solid $secondary-color;
            padding: 4px;
        }
    }
    a {
        text-transform: uppercase;
        text-decoration: dotted;
    }
}

a:link {
    color: $secondary-color;
    text-decoration: none;
}

